* {
    margin: 0px;
}

body {
    margin-top: 100px;
    padding: 10px;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    background-image: url('temp.jpg');
}


section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem; /* Adjust padding for smaller screens */
    background-color: rgba(50, 50, 75, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #ccc;
}

h1,
h4,
h2,
p {
    /* color: #333; */
    padding: 5px; /* Adjust padding for smaller screens */
    
}

h3 {
    text-align: center;
}

.event-details {
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    margin-bottom: 0.5rem;
}

.event-details div {
    margin-bottom: 0.5rem;
}

.register-button {
    display: block;
    padding: 0.8rem; /* Adjust padding for smaller screens */
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    /* width: 100%; Make the button full width on smaller screens */
}

.register-button:hover {
    background-color: orange;
    color: black;
    font-weight: 500;
}

.event-image {
    width: 100%;
    max-height: 1100px; /* Adjust max-height for smaller screens */
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgba(23, 22, 24, 0.4);
    z-index: 1000;
    padding: 0.5rem; /* Adjust padding for smaller screens */
}

nav img {
    margin-left: 5px; /* Adjust margin for smaller screens */
}

nav a {
    margin: 0 10px; /* Adjust margin for smaller screens */
    color: #fff;
    text-decoration: none;
}

.logo {
    height: 80px; /* Adjust height for smaller screens */
}

h3 {
    padding: 10px;
}
p{
  font-weight: 300;
}

.footer-basic {
    padding: 10px 0; /* Reduced padding for a smaller height */
    background-color: transparent;
    font-family: 'Poppins', sans-serif; /* Use the Google Font "Poppins" */
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: hsl(0, 0%, 75%);
    margin-bottom: 0;
}

@media (max-width: 768px) {

    body {
        margin-top: 40px;
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
    }

    p {
        font-size: 15px;
    }

    nav {
        font-size: 0;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.9);
    }

    nav img{
        padding-left: 50px;
    }
}